<!--Footer-->
<footer>
    <nav class="footer-nav">
        <div class="hero-logo">
            <a href="/">LOGO</a>
        </div>
        <ul>
            <li>
                <a href="{{site.baseurl}}/index"><i class="fas fa-home"></i>STRONA GŁÓWNA</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/oferts"><i class="fas fa-file-alt"></i>OFERTA</a>
            </li>
            <li>
                <a href="#"><i class="far fa-images"></i>ZDJĘCIA</i></a>
            </li>
            <li>
                <a href="{{site.baseurl}}/contact"><i class="fas fa-envelope"></i>KONTAKT</i></a>
            </li>
        </ul>
    </nav>
    <p class="copyright">Copyright&copy; <a href="mailto:{{ site.email }}">Sławomir Bąk 2019</a></p>
</footer>