<!--Navigation-->
<div class="overlay-light">
    <div class="hero-logo">
        <a href="{{site.baseurl}}/index">
            <img src="{{site.baseurl}}/assets/img/header/logo_white_title.svg" alt="logo" />
        </a>
    </div>
    <nav class="hero-nav nav-preload" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="{{site.baseurl}}/index">
                    <li>STRONA GŁÓWNA</li>
                </a>
                <a href="{{site.baseurl}}/oferts">
                    <li>OFERTA</li>
                </a>
                <a href="{{site.baseurl}}/photos">
                    <li>ZDJĘCIA</li>
                </a>
                <a href="{{site.baseurl}}/contact">
                    <li>KONTAKT</li>
                </a>
            </ul>
        </div>
    </nav>
</div>